<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>KoodaaServlet</servlet-name>
        <servlet-class>Servlets.KoodaaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurkuServlet</servlet-name>
        <servlet-class>Servlets.PurkuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KoodaaServlet</servlet-name>
        <url-pattern>/koodaa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurkuServlet</servlet-name>
        <url-pattern>/pura</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
